.header {
  /* max-width: 60rem; */
  margin: auto 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(111, 119, 0);
  color: white;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: white;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
